[Unit]
Description=<description>
After=network.target

[Service]
WorkingDirectory=/home/<user>/AppJS
ExecStart=/usr/bin/npm start
Restart=on-failure
User=<user>

[Install]
WantedBy=multi-user.target